aioboto3==14.3.0
aiobotocore==2.22.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aioitertools==0.12.0
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
boto3==1.37.3
botocore==1.37.3
cairocffi==1.7.1
CairoSVG==2.7.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.0
cssselect2==0.8.0
defusedxml==0.7.1
discord.py==2.5.2
distro==1.9.0
dnspython==2.7.0
EbookLib==0.19
frozenlist==1.6.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
jiter==0.9.0
jmespath==1.0.1
joblib==1.5.0
lxml==5.4.0
Metaphone==0.6
motor==3.7.0
multidict==6.4.3
fpdf2==2.7.8
rich==13.6.0
ordered-set>=4.0.0
python-dotenv
nltk==3.9.1
numpy==2.2.5
openai==1.78.0
pillow==11.2.1
propcache==0.3.1
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
pymongo==4.12.1
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2024.11.6
requests==2.32.3
s3transfer==0.11.3
sentry-sdk==2.27.0
six==1.17.0
sniffio==1.3.1
tinycss2==1.4.0
tqdm==4.67.1
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
webencodings==0.5.1
wrapt==1.17.2
yarl==1.20.0
python-chess
